.icon-overview {
    background: url('../../content/img/Sprites.64af8f61.svg') no-repeat -33px -1630px;
    height: 20px;
}

.icon-cash {
    background: url('../../content/img/Sprites.64af8f61.svg') no-repeat -78px -1631px;
    height: 18px;
}

.icon-bank {
    background: url('../../content/img/Sprites.64af8f61.svg') no-repeat -121px -1633px;
    height: 16px;
}

.icon-handbag {
    background: url('../../content/img/Sprites.64af8f61.svg') no-repeat -165px -1632px;
    height: 18px;
}

.icon-order {
    background: url('../../content/img/Sprites.64af8f61.svg') no-repeat -206px -1631px;
    height: 18px;
}

.icon-bill {
    background: url('../../content/img/Sprites.64af8f61.svg') no-repeat -254px -1632px;
    height: 17px;
}

.icon-warehouse {
    background: url('../../content/img/Sprites.64af8f61.svg') no-repeat -294px -1632px;
    height: 17px;
}

.icon-tool {
    background: url('../../content/img/Sprites.64af8f61.svg') no-repeat -339px -1633px;
    height: 17px;
}

.icon-car {
    background: url('../../content/img/Sprites.64af8f61.svg') no-repeat -382px -1632px;
    height: 18px;
}

.icon-bank-2 {
    background: url('../../content/img/Sprites.64af8f61.svg') no-repeat -427px -1634px;
    height: 16px;
}

.icon-label {
    background: url('../../content/img/Sprites.64af8f61.svg') no-repeat -471px -1633px;
    height: 17px;
}

.icon-book {
    background: url('../../content/img/Sprites.64af8f61.svg') no-repeat -514px -1632px;
    height: 18px;
}

.icon-circle {
    background: url('../../content/img/Sprites.64af8f61.svg') no-repeat -382px -1664px;
    height: 16px;
}

.icon-report {
    background: url('../../content/img/Sprites.64af8f61.svg') no-repeat -552px -1636px;
    height: 13px;
}

.icon-chart {
    background: url('../../content/img/Sprites.64af8f61.svg') no-repeat -207px -1667px;
    height: 14px;
}